form * {
  display: block;
  width: 80%;
  margin: 1em;
}

#checkbox {
  display:left;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
